---
import PageLayout from '../../layouts/PageLayout.astro'
import { videoEmbedHtml } from '../../lib/videoEmbedHtml'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-237377" class="post-237377 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h1>Point of Sale (POS) Software</h1>
<h2>A Convenient POS software System that works Online and Offline</h2></div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/../free-trial/">14 Days free trial</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
				
				
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h1>Point of Sale (POS) Software</h1>
<p>A Convenient POS software System that works Online and Offline</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_pb_bg_layout_light" href="/../free-trial/">14 Days free trial</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" fetchpriority="high" decoding="async" width="300" height="280" src="/wp-content/uploads/2021/09/point-of-sale-mobile.png" alt="" title="point-of-sale-mobile" class="wp-image-236258" /><noscript><img fetchpriority="high" decoding="async" width="300" height="280" src="/wp-content/uploads/2021/09/point-of-sale-mobile.png" alt="" title="point-of-sale-mobile" class="wp-image-236258" /></noscript></span>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>User-friendly Point of Sale &#8211; Online &amp; Offline POS System</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Spartan Accounts POS system runs online and offline as well. Our cloud-based software lets you operate POS system seamlessly offline with all the features.</p>
<p>No need to stay connected to the internet all the time, whether it is a power breakdown or internet connectivity issue, your business operations will not be at halt.</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Compatible with multiple hardware with a user-friendly interface</li>
<li>Process card, cash, and online payments</li>
<li>Sync inventory data once you are online</li>
<li>Manage sales and checkout counters</li>
<li>Seamless sync of all the payments once internet is restored</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_3 et_section_regular section_has_divider et_pb_top_divider" >
				<div class="et_pb_top_inside_divider et-no-transition"></div>
				
				
				
				
				
				<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>Create Discounts and offers with Scheme Management</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Boost your business by using features likes <span style="color: #808080;"><a href="/../kb/schemes/" style="color: #808080;">scheme</a></span> management with Spartan Accounts&#8217; POS software. Because sale tactics can help your business grow significantly, which is why you can configure interesting schemes to attract more customers through our POS software.</p>
<p>Promote your business and increase your sales, configure the following features in our POS system’s dashboard.</p>
<ul>
<li>Apply promotional discounts</li>
<li>Offer product specific discounts</li>
<li>Introduce holiday specific offers</li>
<li>Offer coupons and vouchers</li>
<li>Buy one get one free offers</li>
</ul></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_1">
				
				
				
				
				<span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img data-lazyloaded="1" decoding="async" width="1181" height="906" src="/wp-content/uploads/2023/09/schemes.png" alt="Scheme Managment" title="Scheme Managment" data-srcset="../wp-content/uploads/2023/09/schemes.png 1181w, ../wp-content/uploads/2023/09/schemes-980x752.png 980w, ../wp-content/uploads/2023/09/schemes-480x368.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1181px, 100vw" class="wp-image-237655" /><noscript><img decoding="async" width="1181" height="906" src="/wp-content/uploads/2023/09/schemes.png" alt="Scheme Managment" title="Scheme Managment" srcset="../wp-content/uploads/2023/09/schemes.png 1181w, ../wp-content/uploads/2023/09/schemes-980x752.png 980w, ../wp-content/uploads/2023/09/schemes-480x368.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1181px, 100vw" class="wp-image-237655" /></noscript></span>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_2 et_pb_bg_layout_light" href="/../free-trial/" data-icon="I">14 Days free trial</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_4 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_6">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
		<!--		<div class="et_pb_text_inner"><h2>Client share his experience</h2></div>
			</div><div class="et_pb_module et_pb_video et_pb_video_0">
				
				
				
				
				${videoEmbedHtml({
					src: 'https://www.youtube.com/embed/i7rI-3ArDxk?feature=oembed',
					title: 'Spartan Accounts Testimonial: Revolutionizing Inventory Management for Jeans Express in Islamabad!',
					width: 1080,
					height: 608,
				})}
				<div style="background-image:url(../wp-content/uploads/2024/05/jeans-express-1-1.png)" class="et_pb_video_overlay"><div class="et_pb_video_overlay_hover"><a href="#" class="et_pb_video_play"></a></div></div>
			</div>
			</div>  --->
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_5 et_section_regular section_has_divider et_pb_top_divider" >
				<div class="et_pb_top_inside_divider et-no-transition"></div>
				
				
				
				
				
				<div class="et_pb_row et_pb_row_7">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_2">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="970" height="513" src="/wp-content/uploads/2023/09/loyalty-card-1.png" alt="Loyalty Program" title="Loyalty Program" data-srcset="../wp-content/uploads/2023/09/loyalty-card-1.png 970w, ../wp-content/uploads/2023/09/loyalty-card-1-480x254.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 970px, 100vw" class="wp-image-237664" /><noscript><img decoding="async" width="970" height="513" src="/wp-content/uploads/2023/09/loyalty-card-1.png" alt="Loyalty Program" title="Loyalty Program" srcset="../wp-content/uploads/2023/09/loyalty-card-1.png 970w, ../wp-content/uploads/2023/09/loyalty-card-1-480x254.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 970px, 100vw" class="wp-image-237664" /></noscript></span>
			</div><div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light" href="/../free-trial/" data-icon="I">14 Days free trial</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>Give value to your Customers with Loyalty Program</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Customer loyalty programs are perfect to retain existing customers and acquire new customers as well. Spartan Accounts POS system allows you to enroll your customers in loyalty program through our integrated customer loyalty feature.</p>
<p>Once you enroll your customers in <a href="/../loyalty-management-programs-integrated-into-pos-systems/">loyalty program</a>, our POS system will automatically update their profiles with point-based rewards.</p>
<p>&nbsp;</p>
<ul>
<li>Enrolled customers will receive points based on their spending</li>
<li>Customers will automatically receive bonus and discounts</li>
<li>Customers database updated with their purchase history</li>
<li>Reward points history can be saved and updated</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_7 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_8">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Why choose Spartan Accounts point of sale software system</span></h4>
						<div class="et_pb_blurb_description"><p>Our point of sale software is easy to operate and can be customized according to your business requirements. Choosing the Spartan Accounts POS system will help your business thrive because;</p>
<ul>
<li>Compatible with all devices including laptops, tablets, desktop computers and pos system devices.</li>
<li>Can be configured to individual business needs.</li>
<li>Easy to understand interface.</li>
<li>User-friendly software.</li>
<li>Can be used to streamline multiple locations.</li>
</ul></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_9">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>POS Software Tools</span></h4>
						<div class="et_pb_blurb_description"><p>Spartan Accounts point of sale software offers a number of tools that will help you devise a profitable accounting system.</p>
<ul>
<li>Inventory management.</li>
<li>Barcode scanners.</li>
<li>Invoice customization.</li>
<li>Record of clients.</li>
<li>Customer Management.</li>
<li>Multiple Payment Methods</li>
<li>Remote accessibility.</li>
<li>SMS and Email alerts.</li>
</ul></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_3">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="1200" height="1094" src="/wp-content/uploads/2023/09/pos-software-tool.jpg" alt="" title="pos-software-tool" data-srcset="../wp-content/uploads/2023/09/pos-software-tool.jpg 1200w, ../wp-content/uploads/2023/09/pos-software-tool-980x893.jpg 980w, ../wp-content/uploads/2023/09/pos-software-tool-480x438.jpg 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1200px, 100vw" class="wp-image-237707" /><noscript><img decoding="async" width="1200" height="1094" src="/wp-content/uploads/2023/09/pos-software-tool.jpg" alt="" title="pos-software-tool" srcset="../wp-content/uploads/2023/09/pos-software-tool.jpg 1200w, ../wp-content/uploads/2023/09/pos-software-tool-980x893.jpg 980w, ../wp-content/uploads/2023/09/pos-software-tool-480x438.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1200px, 100vw" class="wp-image-237707" /></noscript></span>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_10">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>What makes Spartan Accounts POS system software better than others?</span></h4>
						<div class="et_pb_blurb_description"><p>&nbsp;</p>
<p>Our POS software system is far superior to any other POS softwares available in the market due to numerous reasons. Our software offers complete POS services including <a href="/../">accounting solutions</a>, which makes it a one-stop-shop for all your needs.</p>
<p>Easy to use interface allows your employees to expertly handle all the software operations. Our integrated inventory management will never make you run out of stock!</p>
<p>What’s more is our software is priced at an extremely affordable price point. No need to invest a fortune in sub-par POS systems when Spartan Accounts offers you a top of line software that too for a fraction of the price.</p>
<p>Spartan Accounts offers complete business solutions in addition to Point of sale software system. Our software can be streamlined with small businesses as well as large operations.</p>
<p>Invest in a hassle-free POS Software system today! Give us a call or drop an email at <a href="mailto:suport@fbrsoftware.com" style="color: #cfcf;">suport@fbrsoftware.com</a> for further assistance.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_4 et_pb_bg_layout_light" href="/../free-trial/">Sign up for free trial here!</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_10 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_11">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3><strong>FAQ’s</strong></h3></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_12">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item  et_pb_toggle_close">
				
				
				
				
				<h5 class="et_pb_toggle_title">Q: Why should I invest in POS software?</h5>
				<div class="et_pb_toggle_content clearfix"><strong>A: </strong>POS software is essential for all retail businesses in order to keep track of inventory and manage accounts and transactions.</div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_1 et_pb_toggle_item  et_pb_toggle_close">
				
				
				
				
				<h5 class="et_pb_toggle_title">Q: Can I use Spartan Accounts POS system from multiple locations? </h5>
				<div class="et_pb_toggle_content clearfix"><p><strong>A: </strong>Spartan Accounts focus on ease of use, our cloud-based services allow clients to integrate multiple devices. You can buy multiple user package for seamless operation.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_2 et_pb_toggle_item  et_pb_toggle_close">
				
				
				
				
				<h5 class="et_pb_toggle_title">Q: Is Spartan Accounts point of sale system compatible with all hardware?</h5>
				<div class="et_pb_toggle_content clearfix"><strong>A: </strong>Our point of sale system is compatible with all hardware devices including tablets, desktop computers, laptops, and POS system devices.</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_toggle et_pb_toggle_3 et_pb_toggle_item  et_pb_toggle_close">
				
				
				
				
				<h5 class="et_pb_toggle_title">Q: Do I need to get trained for using POS software?</h5>
				<div class="et_pb_toggle_content clearfix"><p><strong>A: </strong>Our POS is integrated with user friendly interface that is easy to use and understand. Once you decide to get our services, you can on-call support from our experts. You can also access <a href="/../video/">video tutorials</a> on our website to understand how the POS system works.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_4 et_pb_toggle_item  et_pb_toggle_close">
				
				
				
				
				<h5 class="et_pb_toggle_title">Q: Can I get a trial of Spartan Accounts POS system?</h5>
				<div class="et_pb_toggle_content clearfix"><strong>A: </strong>You can create an account and add your company for a 14-day free trial of Spartan Accounts point of sale system with 2 user support.<strong><br />
</strong></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_5 et_pb_toggle_item  et_pb_toggle_close">
				
				
				
				
				<h5 class="et_pb_toggle_title">Q: Can I customize Spartan Accounts point of sale system? </h5>
				<div class="et_pb_toggle_content clearfix"><strong>A: </strong>Spartan Accounts&#8217; point of sale system is flexible and can be customized. You can easily configure inventory, add products and offer discounts according to your requirements.</p>
<p><strong> </strong></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_11 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_13">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_4">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_14">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_21  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_5 et_pb_bg_layout_light" href="/../free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="Point of Sale (POS) Software, Online &amp; Offline POS System"
  description="Experience our lightning fast POS software and speedup your Small Business Operations with Online and Offline Point of Sale Software System."
  canonical="/point-of-sale/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
  includeEtCache11Dynamic={false}
  etPbGutters="2"
  bodyClass="page-template-default page page-id-237377 wp-theme-Divi et_no_sidebar mkb-version-2-0-9"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/point-of-sale.css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,600" media="all" />
    <link rel="stylesheet" href="/wp-content/litespeed/css/cd79b6a8b7907006d9bc7f7c38eb5b114e3f.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/237377/et-divi-dynamic-tb-132-237377-latea3df.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/237377/et-divi-dynamic-tb-132-237377a3df.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/237377/et-core-unified-tb-132-deferred-237377.min53ee.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
