---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-173" class="post-173 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2"><div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_0">
				
				
				
				
				<div class="et_pb_code_inner"><script async src="https://www.googletagmanager.com/gtag/js?id=UA-38116496-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38116496-9');
</script>
<script>
  fbq('track', 'CompleteRegistration', {
    value: 1,
    currency: 'PKR',
  });
</script></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_1">
				
				
				
				
				<div class="et_pb_code_inner"><script>
  
  setTimeout(function(){
 window.location.href = "https://app.FBRSoftware.com/register";

}, 2500); 

 
</script></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="Free Trial — 14 Days Free Accounting Software | FBR Software"
  description="Start your 14-day free trial of FBR Software — Pakistan's best accounting, inventory & POS software. No credit card required. Full access from day one."
  canonical="/free-trial/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/free-trial.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/173/et-divi-dynamic-tb-132-173-late2adf.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/173/et-divi-dynamic-tb-132-1732adf.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/173/et-core-unified-tb-132-deferred-173.min0671.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
