---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-325" class="post-325 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" fetchpriority="high" decoding="async" width="1200" height="1025" src="/wp-content/uploads/2024/09/invoicing-app-screen-shot.png" alt="" title="invoicing-app-screen-shot" data-srcset="/wp-content/uploads/2024/09/invoicing-app-screen-shot.png 1200w, ../wp-content/uploads/2024/09/invoicing-app-screen-shot-980x837.png 980w, ../wp-content/uploads/2024/09/invoicing-app-screen-shot-480x410.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1200px, 100vw" class="wp-image-238662" /><noscript><img fetchpriority="high" decoding="async" width="1200" height="1025" src="/wp-content/uploads/2024/09/invoicing-app-screen-shot.png" alt="" title="invoicing-app-screen-shot" srcset="/wp-content/uploads/2024/09/invoicing-app-screen-shot.png 1200w, ../wp-content/uploads/2024/09/invoicing-app-screen-shot-980x837.png 980w, ../wp-content/uploads/2024/09/invoicing-app-screen-shot-480x410.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1200px, 100vw" class="wp-image-238662" /></noscript></span>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="230" height="54" src="/wp-content/uploads/2021/08/splendid-account-logo.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-329" /><noscript><img decoding="async" width="230" height="54" src="/wp-content/uploads/2021/08/splendid-account-logo.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-329" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><h1 style="text-align: left;">FBR Invoices App</h1>
<p style="text-align: left;">FBR Invoices is a mobile app by FBR Software — Pakistan's leading accounting and inventory management system. Manage all your sales activities from anywhere.</p>
<p><strong>FBR Invoices App Features</strong></p>
<ol>
<li>Create and send quotations and invoices in a single click</li>
<li>Manage Sales Order bookings</li>
<li>Manage Order Deliveries</li>
<li>Now manage your receivable in a better way.</li>
<li>Manage sales returns</li>
<li>Customer Ledgers</li>
<li>Synchronization with Spartan Accounts</li>
<li>User-level security</li>
<li>Customer Profiles</li>
<li>Product Catalog</li>
<li>Dashboard</li>
<li>Reports</li>
</ol></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_1">
				
				
				
				
				<a href="https://play.google.com/store/apps/details?id=com.fbrsoftware.invoicing"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/play-store.png" alt="" title="play-store" class="wp-image-147" /><noscript><img decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/play-store.png" alt="" title="play-store" class="wp-image-147" /></noscript></span></a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_2">
				
				
				
				
				<a href="https://apps.apple.com/us/app/fbr-software/id14888"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/apple-store.png" alt="" title="apple-store" class="wp-image-148" /><noscript><img decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/apple-store.png" alt="" title="apple-store" class="wp-image-148" /></noscript></span></a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_3_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="230" height="54" src="/wp-content/uploads/2021/08/splendid-account-logo.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-329" /><noscript><img decoding="async" width="230" height="54" src="/wp-content/uploads/2021/08/splendid-account-logo.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-329" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Spartan Invoices App</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: left;">FBR Invoices is a mobile app by FBR Software — Pakistan's leading accounting and inventory management system. Manage all your sales activities from anywhere.</p>
<p><strong>FBR Invoices App Features</strong></p>
<ol>
<li>Create and send quotations and invoices in a single click</li>
<li>Manage Sales Order bookings</li>
<li>Manage Order Deliveries</li>
<li>Now manage your receivable in a better way.</li>
<li>Manage sales returns</li>
<li>Customer Ledgers</li>
<li>Synchronization with Spartan Accounts</li>
<li>User-level security</li>
<li>Customer Profiles</li>
<li>Product Catalog</li>
<li>Dashboard</li>
<li>Reports</li>
</ol></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_3">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="500" height="725" src="/wp-content/uploads/2021/08/ws-1-1.png" alt="" title="ws-1-1" data-srcset="/wp-content/uploads/2021/08/ws-1-1.png 500w, ../wp-content/uploads/2021/08/ws-1-1-480x696.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 500px, 100vw" class="wp-image-331" /><noscript><img decoding="async" width="500" height="725" src="/wp-content/uploads/2021/08/ws-1-1.png" alt="" title="ws-1-1" srcset="/wp-content/uploads/2021/08/ws-1-1.png 500w, ../wp-content/uploads/2021/08/ws-1-1-480x696.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 500px, 100vw" class="wp-image-331" /></noscript></span>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_4">
				
				
				
				
				<a href="https://play.google.com/store/apps/details?id=com.fbrsoftware.invoicing"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/play-store.png" alt="" title="play-store" class="wp-image-147" /><noscript><img decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/play-store.png" alt="" title="play-store" class="wp-image-147" /></noscript></span></a>
			</div><div class="et_pb_module et_pb_image et_pb_image_5">
				
				
				
				
				<a href="https://apps.apple.com/us/app/fbr-software/id14888"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/apple-store.png" alt="" title="apple-store" class="wp-image-148" /><noscript><img decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/apple-store.png" alt="" title="apple-store" class="wp-image-148" /></noscript></span></a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_6">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;"><span style="color: #ffffff;"><a href="/../accounting-software-pricing-plan/" style="color: #ffffff;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</a></span></p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/../free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="Spartan Invoices App | FBR Software"
  description="Spartan Accounts is an online accounting and inventory management system. In this app, you can manage your all sales activities."
  canonical="/splendid-invoices-app/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/splendid-invoices-app.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/325/et-divi-dynamic-tb-132-325-latee505.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/325/et-divi-dynamic-tb-132-325e505.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/325/et-core-unified-tb-132-deferred-325.minc55c.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
