---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-455" class="post-455 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_3_5 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h1>Small Business accounting<br />Software that takes your<br />business to the next level</h1></div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/../free-trial/" data-icon="I">14 days free trial</a>
			</div>
			</div><div class="et_pb_column et_pb_column_2_5 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" fetchpriority="high" decoding="async" width="1061" height="2305" src="/wp-content/uploads/2024/11/iphone-16-1.png" alt="" title="iphone-16" data-srcset="../wp-content/uploads/2024/11/iphone-16-1.png 1061w, ../wp-content/uploads/2024/11/iphone-16-1-980x2129.png 980w, ../wp-content/uploads/2024/11/iphone-16-1-480x1043.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1061px, 100vw" class="wp-image-238725" /><noscript><img fetchpriority="high" decoding="async" width="1061" height="2305" src="/wp-content/uploads/2024/11/iphone-16-1.png" alt="" title="iphone-16" srcset="../wp-content/uploads/2024/11/iphone-16-1.png 1061w, ../wp-content/uploads/2024/11/iphone-16-1-980x2129.png 980w, ../wp-content/uploads/2024/11/iphone-16-1-480x1043.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1061px, 100vw" class="wp-image-238725" /></noscript></span>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_3_5 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				
			<div id="et_pb_contact_form_0" class="et_pb_with_border et_pb_module et_pb_contact_form_0 et_pb_recaptcha_enabled et_pb_contact_form_container clearfix" data-form_unique_num="0" data-form_unique_id="1219319b-5d52-49d8-9456-2987f42ef8db">
				
				
				
				
				<h1 class="et_pb_contact_main_title">Contact Form</h1>
				<div class="et-pb-contact-message"></div>
				
				<div class="et_pb_contact">
					<form class="et_pb_contact_form clearfix" method="post" action="https://formspree.io/f/CONTACT_FORM_ID">
						<input type="text" name="_gotcha" style="display:none" tabindex="-1" autocomplete="off">
						<input type="hidden" name="_subject" value="New contact form submission">
						<p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_last" data-id="name" data-type="input">
				<label for="et_pb_contact_name_0" class="et_pb_contact_form_label">Name</label>
				<input type="text" id="et_pb_contact_name_0" class="input" name="name" required placeholder="Name">
			</p><p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_last" data-id="email" data-type="email">
				<label for="et_pb_contact_email_0" class="et_pb_contact_form_label">Email Address</label>
				<input type="email" id="et_pb_contact_email_0" class="input" name="email" required placeholder="Email Address">
			</p><p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_last" data-id="phone" data-type="input">
				<label for="et_pb_contact_phone_0" class="et_pb_contact_form_label">Phone</label>
				<input type="tel" id="et_pb_contact_phone_0" class="input" name="phone" placeholder="Phone" pattern="[0-9\s\-]*" title="Only numbers allowed.">
			</p><p class="et_pb_contact_field et_pb_contact_field_3 et_pb_contact_field_last" data-id="message" data-type="text">
				<label for="et_pb_contact_message_0" class="et_pb_contact_form_label">Message</label>
				<textarea name="message" id="et_pb_contact_message_0" class="et_pb_contact_message input" required placeholder="Message"></textarea>
			</p>
						<div class="et_contact_bottom_container">
							<button type="submit" class="et_pb_contact_submit et_pb_button">Submit</button>
						</div>
					</form>
				</div>
			</div>
			
			</div><div class="et_pb_column et_pb_column_2_5 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><div class="ui--icon-box position--left">
<div class="ui--icon-box-content">
<div class="ui--icon-box-text text-left fx--no-effect ui--animation-fire" data-fx="fx--no-effect" delay="450">
<p><strong>UAN:</strong> <a href="tel:+92332 500 8992">+92332 500 8992</a><br />
 <strong>Whatsapp: </strong><img data-lazyloaded="1" decoding="async" src="/wp-content/uploads/2021/08/whatapp-icon.png" width="20" height="20" alt="" class="wp-image-144 alignnone size-full" /><noscript><img decoding="async" src="/wp-content/uploads/2021/08/whatapp-icon.png" width="20" height="20" alt="" class="wp-image-144 alignnone size-full" /></noscript><a href="https://wa.me/923711035990" target="_blank" rel="noopener">+923711035990</a>
</div>
</div>
</div></div>
					</div>
				</div>
			</div><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><a href="mailto:suport@spartantech.org">suport@spartantech.org</a><br />
<a href="mailto:sales@splendidaccount.com">sales@splendidaccount.com</a></div>
					</div>
				</div>
			</div><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Pakistan Address</span></h4>
						<div class="et_pb_blurb_description"><div class="ui--icon-box position--left">
<div class="ui--icon-box-content">
<div class="ui--icon-box-text text-left fx--no-effect ui--animation-fire" data-fx="fx--no-effect" delay="450">
<p>B-134 Block 2, Gulshan-e-Iqbal, Karachi Pakistan</p>
</div>
</div>
</div></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="Contact - Splendid Accounts"
  description="Splendid Accounts - Contact Small Business accounting Software takes your business to the next level."
  canonical="/contact/"
  ogImage="/wp-content/uploads/2021/08/whatapp-icon.png"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/contact.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/455/et-divi-dynamic-tb-132-455-late0476.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/455/et-divi-dynamic-tb-132-4550476.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/455/et-core-unified-tb-132-deferred-455.mindfeb.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
