---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-257" class="post-257 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/08/manufacturing.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-260" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/08/manufacturing.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-260" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><h1>
<p style="text-align: center;">Manufacturing</p>
</h1>
<p style="text-align: center;">A module is providing a feature to create job orders for the products to be assembled in industry by adding products as product assembly.</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">
				
				
				
				
				
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/delivery.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-194" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/delivery.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-194" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Assembling</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">It is the process of manufacturing unique products to assemble by adding products as an input and add expenses which could be bared in the final output of the manufacturing.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/multiple-packaging-1.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-226" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/multiple-packaging-1.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-226" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Disassembling</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Disassembling is the process of decomposing products to disassemble by breaking products as output and add expenses that could be bared in the final process of disassembling.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
				
				
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;">Report</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3 et_pb_equal_columns">
				<div class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Material-Issuance-Report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236528" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Material-Issuance-Report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236528" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Material Issuance Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Lists all the material issued for product manufacturing.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Material-Issuance-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Job-Order-Expense.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236526" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Job-Order-Expense.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236526" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Job Order Expense Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Lists all-expense against job order within a specified date range.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Job-Order-Expense-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_3 et_pb_column et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Job-Order-Production.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236527" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Job-Order-Production.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236527" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Job Order Production Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Lists production against job order within a specified date range.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_2 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Job-Order-Production-Report.pdf">View Report</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;"><span style="color: #ffffff;"><a href="/../accounting-software-pricing-plan/" style="color: #ffffff;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</a></span></p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light" href="/../free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="Manufacturing - Splendid Accounts"
  description="A module is providing a feature to create job orders for the products to be assembled in industry by adding products as product assembly."
  canonical="/manufacturing/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/manufacturing.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/257/et-divi-dynamic-tb-132-257-latef13d.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/257/et-divi-dynamic-tb-132-257f13d.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/257/et-core-unified-tb-132-deferred-257.minbcb4.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
