---
import PageLayout from '../../layouts/PageLayout.astro'
import { videoEmbedHtml } from '../../lib/videoEmbedHtml'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-265" class="post-265 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h1>FBR Integrated</h1>
<h1>Point of Sale</h1>
<h3><span>Our</span><span> </span><span>seamless</span><span> FBR integrated (POS) point-of-sale</span></h3>
<h3><span>makes</span><span> </span><span>tax</span><span> </span><span>compliance</span><span> </span><span>easier</span><span> </span><span>than</span><span> </span><span>ever</span><span> </span><span>before.</span></h3></div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/../free-trial/">Start Now</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_video et_pb_video_0">
				
				
				
				
				${videoEmbedHtml({
					src: 'https://www.youtube.com/embed/ZB3-7OqDmqE?feature=oembed',
					title: 'How to use Point of Sale (POS) in Spartan Accounts',
					width: 1080,
					height: 608,
				})}
				<div style="background-image:url(../wp-content/uploads/2022/01/pos-default-new.jpg)" class="et_pb_video_overlay"><div class="et_pb_video_overlay_hover"><a href="#" class="et_pb_video_play"></a></div></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>FBR Integrated Point of Sale</h2>
<p>Easy to Use Point of Sale Set-up in minutes, sell in seconds.<br />Compatible with any device.</p></div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_pb_bg_layout_light" href="/../free-trial/">Start Now</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_video et_pb_video_1">
				
				
				
				
				${videoEmbedHtml({
					src: 'https://www.youtube.com/embed/ZB3-7OqDmqE?feature=oembed',
					title: 'How to use Point of Sale (POS) in Spartan Accounts',
					width: 1080,
					height: 608,
				})}
				<div style="background-image:url(../wp-content/uploads/2022/01/pos-default-new.jpg)" class="et_pb_video_overlay"><div class="et_pb_video_overlay_hover"><a href="#" class="et_pb_video_play"></a></div></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="532" height="77" src="/wp-content/uploads/2022/01/FBR-Logo.png" alt="" title="FBR-Logo" data-srcset="/wp-content/uploads/2022/01/FBR-Logo.png 532w, ../wp-content/uploads/2022/01/FBR-Logo-480x69.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 532px, 100vw" class="wp-image-236810" /><noscript><img decoding="async" width="532" height="77" src="/wp-content/uploads/2022/01/FBR-Logo.png" alt="" title="FBR-Logo" srcset="/wp-content/uploads/2022/01/FBR-Logo.png 532w, ../wp-content/uploads/2022/01/FBR-Logo-480x69.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 532px, 100vw" class="wp-image-236810" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Point of Sales (POS) FBR Integration</span></h4>
						<div class="et_pb_blurb_description"><p>Online POS &#8211; FBR integration in less than an hour</p></div>
					</div>
				</div>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p>Another Significant Benefit of Spartan Accounts Online POS is FBR System Integration for customers. It allows them to readily verify whether or not tax has been deposited with the FBR. The invoice numbers and unique QR Codes on the sales receipts created by the Spartan Accounts <a href="/../point-of-sale/">POS Software</a> can be validated by clients using “The Federal Board Of Revenue&#8217;s Tax Asaan Application (FBR).”</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_1">
				
				
				
				
				<a href="/../kb/fbr-integration-with-pos/"><span class="et_pb_image_wrap "><img data-lazyloaded="1" fetchpriority="high" decoding="async" width="699" height="492" src="/wp-content/uploads/2022/01/fbr-slip-new-3-1.png" alt="" title="fbr-slip-new-3" data-srcset="/wp-content/uploads/2022/01/fbr-slip-new-3-1.png 699w, ../wp-content/uploads/2022/01/fbr-slip-new-3-1-480x338.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 699px, 100vw" class="wp-image-236855" /><noscript><img fetchpriority="high" decoding="async" width="699" height="492" src="/wp-content/uploads/2022/01/fbr-slip-new-3-1.png" alt="" title="fbr-slip-new-3" srcset="/wp-content/uploads/2022/01/fbr-slip-new-3-1.png 699w, ../wp-content/uploads/2022/01/fbr-slip-new-3-1-480x338.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 699px, 100vw" class="wp-image-236855" /></noscript></span></a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_4 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2 id="custom-title-h2-2" class="ui--animation" style="text-align: center;">Compatible with any hardware</h2>
<h3 class="ui--animation" style="text-align: center;">No installation and no specific hardware required for online POS.</h3></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><a href="/../retail-stores-software/"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="163" height="120" src="/wp-content/uploads/2021/08/tab-2.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-276" /><noscript><img decoding="async" width="163" height="120" src="/wp-content/uploads/2021/08/tab-2.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-276" /></noscript></span></a></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><a href="/../retail-stores-software/">Tablets</a></h2>
						
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><a href="/../garments-fashion-software/"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="196" height="120" src="/wp-content/uploads/2021/08/lapton-3.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-275" /><noscript><img decoding="async" width="196" height="120" src="/wp-content/uploads/2021/08/lapton-3.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-275" /></noscript></span></a></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><a href="/../garments-fashion-software/">Laptops</a></h2>
						
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><a href="/../shoe-stores-software/"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="178" height="120" src="/wp-content/uploads/2021/08/desktop-2.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-274" /><noscript><img decoding="async" width="178" height="120" src="/wp-content/uploads/2021/08/desktop-2.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-274" /></noscript></span></a></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><a href="/../shoe-stores-software/">Desktop computers</a></h2>
						
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><a href="/../electronics-appliances-software/"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="153" height="120" src="/wp-content/uploads/2021/08/machine-3.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-273" /><noscript><img decoding="async" width="153" height="120" src="/wp-content/uploads/2021/08/machine-3.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-273" /></noscript></span></a></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><a href="/../electronics-appliances-software/">Industrial machines</a></h2>
						
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_5 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_video et_pb_video_2">
				
				
				
				
				${videoEmbedHtml({
					src: 'https://www.youtube.com/embed/ZB3-7OqDmqE?feature=oembed',
					title: 'How to use Point of Sale (POS) in Spartan Accounts',
					width: 1080,
					height: 608,
				})}
				
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: left;">Everything your<br />shop needs</h2>
<p style="text-align: left;">Spartan Accounts online POS is based on a smart interface that any retail company can use without difficulty. Because it’s extremely flexible, you can configure POS to meet your precise needs.</p></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_6 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_6">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>Keep in touch with your customers</h2>
<h3>And keep them coming back with loyalty programs.</h3></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_7">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_2">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="1200" height="509" src="/wp-content/uploads/2021/08/customer-pos-1.png" alt="" title="customer-pos-1" data-srcset="/wp-content/uploads/2021/08/customer-pos-1.png 1200w, ../wp-content/uploads/2021/08/customer-pos-1-980x416.png 980w, ../wp-content/uploads/2021/08/customer-pos-1-480x204.png 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1200px, 100vw" class="wp-image-277" /><noscript><img decoding="async" width="1200" height="509" src="/wp-content/uploads/2021/08/customer-pos-1.png" alt="" title="customer-pos-1" srcset="/wp-content/uploads/2021/08/customer-pos-1.png 1200w, ../wp-content/uploads/2021/08/customer-pos-1-980x416.png 980w, ../wp-content/uploads/2021/08/customer-pos-1-480x204.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1200px, 100vw" class="wp-image-277" /></noscript></span>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_7 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_8">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p>Reward your loyal customers with points, gifts and discounts with Spartan Accounts loyalty programs. The whole process is fast and can be entirely automated. Identifying your customers is even faster with loyalty cards and customer barcode ids.</p>
<p>&nbsp;</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p>Register your customers to keep track of their buying habits. You can then send them special offers and sale notices with Spartan Accounts Mailing. Register tax identifications for your business customers and give them invoices instantly (or send by email).</p>
<p>&nbsp;</p>
<p>&nbsp;</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_9">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p>Reward your loyal customers with points, gifts and discounts with Spartan Accounts loyalty programs. The whole process is fast and can be entirely automated. Identifying your customers is even faster with loyalty cards and customer barcode ids.</p>
<p>&nbsp;</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-pb-icon-circle et-pb-icon-circle-border"></span></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p>Register your customers to keep track of their buying habits. You can then send them special offers and sale notices with Spartan Accounts Mailing. Register tax identifications for your business customers and give them invoices instantly (or send by email).</p>
<p>&nbsp;</p>
<p>&nbsp;</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_10">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_10  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Integrated Inventory management</span></h4>
						<div class="et_pb_blurb_description"><p>Real-time control &amp; accurate forecasts to manage procurements.</p></div>
					</div>
				</div>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_11  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><p><span style="color: #000000;">Spartan Accounts <a href="/../inventory/">Inventory</a> app automatically inputs any transaction from the <a href="/../point-of-sale/">POS</a> in the stock. You can see in real time the availability of products without losing time. Furthermore, the POS is compatible with Spartan <a href="/../ecommerce-accounting/">eCommerce</a>. You won’t need to setup separate stocks for the two apps and be a truly multi-channel business, without headache.</span></p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_3">
				
				
				
				
				<a href="/../inventory/"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="1365" height="820" src="/wp-content/uploads/2022/01/pos-integration.jpg" alt="" title="pos-integration" data-srcset="/wp-content/uploads/2022/01/pos-integration.jpg 1365w, ../wp-content/uploads/2022/01/pos-integration-1280x769.jpg 1280w, ../wp-content/uploads/2022/01/pos-integration-980x589.jpg 980w, ../wp-content/uploads/2022/01/pos-integration-480x288.jpg 480w" data-sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1365px, 100vw" class="wp-image-236853" /><noscript><img decoding="async" width="1365" height="820" src="/wp-content/uploads/2022/01/pos-integration.jpg" alt="" title="pos-integration" srcset="/wp-content/uploads/2022/01/pos-integration.jpg 1365w, ../wp-content/uploads/2022/01/pos-integration-1280x769.jpg 1280w, ../wp-content/uploads/2022/01/pos-integration-980x589.jpg 980w, ../wp-content/uploads/2022/01/pos-integration-480x288.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1365px, 100vw" class="wp-image-236853" /></noscript></span></a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_10 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_11">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_21  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_4">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_12  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_12">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_22  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_2 et_pb_bg_layout_light" href="/../free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="FBR Integrated POS - FBR Point of Sale Software | FBR Software"
  description="Easily manage your retail sales and stay FBR-compliant with Spartan Accounts’ FBR-integrated POS."
  canonical="/online-pos-fbr-integration/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/online-pos-fbr-integration.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/265/et-divi-dynamic-tb-132-265-latecc6f.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/265/et-divi-dynamic-tb-132-265cc6f.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/265/et-core-unified-tb-132-deferred-265.mind581.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
