<header id="main-header" data-height-onload="70">
  <div class="container clearfix et_menu_container">
    <div class="logo_container">
      <span class="logo_helper"></span>
      <a href="/">
        <img src="/wp-content/uploads/2021/08/logo.png" width="244" height="61" alt="Spartan Accounts" id="logo" data-height-percentage="54" loading="eager" />
      </a>
    </div>
    <div id="et-top-navigation" data-height="70" data-fixed-height="61">
      <nav id="top-menu-nav">
        <ul id="top-menu" class="nav">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-42"><a href="/">Home</a></li>
          <li class="first-level menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34"><a href="#">Features</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/fbr-digital-invoicing-software/">FBR Digital Invoicing</a></li>
              <li class="menu-item"><a href="/sales/">Sales</a></li>
              <li class="menu-item"><a href="/purchases/">Purchases</a></li>
              <li class="menu-item"><a href="/accounting/">Accounting</a></li>
              <li class="menu-item"><a href="/inventory/">Inventory</a></li>
              <li class="menu-item"><a href="/manufacturing/">Manufacturing</a></li>
              <li class="menu-item"><a href="/point-of-sale/">Point of Sale (POS)</a></li>
              <li class="menu-item"><a href="/online-pos-fbr-integration/">FBR Integration</a></li>
              <li class="menu-item"><a href="/reporting/">Reporting</a></li>
              <li class="menu-item"><a href="/online-crm-system/">CRM</a></li>
              <li class="menu-item"><a href="/inventory-management-system/">Inventory Management System</a></li>
              <li class="menu-item"><a href="/customer-portal-app/">Customer Portal App</a></li>
              <li class="menu-item"><a href="/order-booking-app/">Order Booking App</a></li>
              <li class="menu-item"><a href="/splendid-invoices-app/">Splendid Invoices App</a></li>
              <li class="menu-item"><a href="/sales-tracking-app/">Sales Tracking App</a></li>
            </ul>
          </li>
          <li class="first-level menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-35"><a href="#">Industries</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/retail-stores-software/">Retail Stores</a></li>
              <li class="menu-item"><a href="/ecommerce-accounting/">Ecommerce Accounting</a></li>
              <li class="menu-item"><a href="/restaurant-software/">Restaurants Software</a></li>
              <li class="menu-item"><a href="/book-stores-software/">Book Stores</a></li>
              <li class="menu-item"><a href="/shoe-stores-software/">Shoe Stores</a></li>
              <li class="menu-item"><a href="/distribution-wholesale-software/">Distribution &amp; Wholesale Software</a></li>
              <li class="menu-item"><a href="/electronics-appliances-software/">Electronics &amp; Appliances</a></li>
              <li class="menu-item"><a href="/garment-shop-software/">Garments &amp; Fashion</a></li>
              <li class="menu-item"><a href="/restaurants-bakers-software/">Restaurants &amp; Bakers</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="/pricing-plan/">Pricing</a></li>
          <li class="menu-item"><a href="/video/">Tutorials</a></li>
          <li class="menu-item"><a href="/become-our-partner/">Become Partner</a></li>
          <li class="menu-item"><a href="/blog/">Blog</a></li>
          <li class="menu-item"><a href="https://app.splendidaccounts.com/">Login</a></li>
        </ul>
      </nav>
      <div id="et_mobile_nav_menu">
        <div class="mobile_nav closed">
          <span class="select_page">Select Page</span>
          <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
        </div>
      </div>
    </div>
  </div>
</header>
