---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-231" class="post-231 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/08/calculator.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-234" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/08/calculator.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-234" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						
						<div class="et_pb_blurb_description"><h1 style="text-align: center;">Accounting</h1>
<p style="text-align: center;">More than 90% of accounting entries will be posted automatically to online <a href="/../">accounting software</a>. Almost zero accounting knowledge is required to run the splendid accounts. With a preloaded chart of accounts, you can manage your books of accounts easily.</p></div>
					</div>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;">Features available in Accounting software module</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_1 et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/expence.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-242" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/expence.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-242" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Expense</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Easily record &amp; monitor any type of expense transactions, associate with vendor profiles and keep running your business effectively.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/journal-entry.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-241" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/journal-entry.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-241" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Journal Generals</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Accountants and business owners can record opening balances, create adjustment or correcting entries via journal entries.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/chart-of-account.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-240" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/chart-of-account.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-240" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Chart of Account</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">A pre-built chart of accounts help you set up a business very easily and quickly, you can also add as many accounts as required.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/debit-note-1.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-239" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/debit-note-1.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-239" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Debit Note</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Create a debit note to reduce the supplier payment against discounts, damages, vendor refund or purchase returns.</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_2 et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/credit-notes-1.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-202" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/credit-notes-1.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-202" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Credit Notes</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Create a credit note to reduce the customer payment against discounts, damages, or sales returns.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/bank-account.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-238" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/bank-account.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-238" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Bank Accounts</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">You can create and manage all your bank accounts to receive funds from customers and make vendor payments.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/bank-deposite.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-237" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/bank-deposite.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-237" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Bank Deposit</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Deposit cash, cheque and other documents to your bank account from a single interface are very easy like never before.</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/multicompany-3.jpg" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236" /><noscript><img decoding="async" width="150" height="150" src="/wp-content/uploads/2021/08/multicompany-3.jpg" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Funds Transfer</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;">You can share funds between any two accounts by using fund transfer feature of splendid accounts.</p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;">Report</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_4 et_pb_equal_columns">
				<div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/blance-sheet.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236474" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/blance-sheet.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236474" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Balance Sheet</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">A statement of the assets, liabilities, and capital of a business as of the Selected date.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Balance-Sheet-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_10  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/profit-and-lose.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236479" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/profit-and-lose.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236479" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Profit and Loss</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">It summarizes the revenues, costs, and expenses incurred during a specified period.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Profit-And-Loss-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_11  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Customer-Ledger.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236394" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Customer-Ledger.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236394" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Audit Log</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Tracked the logs of activities performed by any user throughout the system.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_2 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Audit-Log-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_12  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/account-ledger.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236472" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/account-ledger.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236472" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Account Ledger</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">A ledger is a report used to display a company’s transactions against each ledger account.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_3 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Account-Ledger-Report.pdf">View Report</a>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_5 et_pb_equal_columns">
				<div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_13  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/expense-report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236478" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/expense-report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236478" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Expense Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Display business expenses sorted by cash or accounts account within a specified date range.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_4 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Expense-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_14  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/credit-note.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236476" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/credit-note.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236476" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Credit Note Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Credit note issued to your vendor/customer within a specified date range from a single or all Customers/vendors.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_5 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Credit-Note-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_16  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_15  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/debt-note.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236477" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/debt-note.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236477" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Debit Note Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">A debit note issued to your vendor/customer within a specified date range from a single or all Customers/vendors.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_6_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_6 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Debit-Note-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_16  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/tril-blance.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236484" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/tril-blance.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236484" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Trial Balance</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Lists all the accounts holding either a debit balance or a credit balance contained in the ledger of a business.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_7_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_7 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Trial-Balance-Report.pdf">View Report</a>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_6 et_pb_equal_columns">
				<div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_18  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_17  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Consolidated-Ledger.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236475" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Consolidated-Ledger.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236475" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Consolidated Ledger</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Display the centralized transactional activities of a contact registered against the customer and vendor.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_8_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_8 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Consolidated-Ledger-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_19  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_18  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/traaction-list-report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236483" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/traaction-list-report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236483" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Transaction List Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Display the detailed information of single transaction in form of journal entry in the system.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_9_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_9 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Transaction-Listing-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_19  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Tax-Collected-on-Sales-Report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236481" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Tax-Collected-on-Sales-Report.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236481" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Tax Collected on Sales Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Display the list of all taxes collected from customers against the sale of any product within a specified date range.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_10_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_10 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Tax-Collected-On-Sales-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_21  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_20  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Tax-Paid.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236482" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Tax-Paid.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236482" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Tax Paid on Purchases Report</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Display the list of all taxes paid to vendors against the purchase of any product within a specified date range.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_11_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_11 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Tax-Paid-On-Purchases-Report.pdf">View Report</a>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_7 et_pb_equal_columns">
				<div class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_22  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_21  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Serial-Product.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236480" /><noscript><img decoding="async" width="100" height="100" src="/wp-content/uploads/2021/09/Serial-Product.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-236480" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Serial Product Management</span></h4>
						<div class="et_pb_blurb_description"><p style="text-align: center;">Keep your inventory tracked in an organized way with serial number management after the sale.</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_12_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_12 et_pb_bg_layout_dark" href="/wp-content/uploads/2021/09/Tax-Paid-On-Purchases-Report.pdf">View Report</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">
				
				
				
				
				
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">
				
				
				
				
				
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
				
				
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_8">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_26  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_22  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;"><span style="color: #ffffff;"><a href="/../accounting-software-pricing-plan/" style="color: #ffffff;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</a></span></p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_9">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_27  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_13_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_13 et_pb_bg_layout_light" href="/../free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>

	<footer class="et-l et-l--footer">
			<div class="et_builder_inner_content et_pb_gutters1">
		<div class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0_tb_footer">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_0_tb_footer  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_0_tb_footer  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img data-lazyloaded="1" decoding="async" width="244" height="61" src="/wp-content/uploads/2021/08/logo.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-7" /><noscript><img decoding="async" width="244" height="61" src="/wp-content/uploads/2021/08/logo.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-7" /></noscript></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Who we are</span></h4>
						<div class="et_pb_blurb_description">SplendidAccounts.pk is designed and developed by iSplendid. As an Accounting software, our core objective is to provide quality services to small business with no infrastructure and maintenance cost.</div>
					</div>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_0_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner">Secure checkout via</div>
			</div><div class="et_pb_module et_pb_image et_pb_image_0_tb_footer">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="231" height="60" src="/wp-content/uploads/2024/09/hblpaycheckout.png" alt="" title="hblpaycheckout" class="wp-image-238686" /><noscript><img decoding="async" width="231" height="60" src="/wp-content/uploads/2024/09/hblpaycheckout.png" alt="" title="hblpaycheckout" class="wp-image-238686" /></noscript></span>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_1_tb_footer  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3 class="footer-widget-title ui--widget-title">Services</h3></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_2_tb_footer footerspace  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<ul>
<li><a href="/../sales/">Sales</a></li>
<li><a href="/../purchases/">Purchases</a></li>
<li><a href="index.html">Accounting</a></li>
<li><a href="/../inventory/">Inventory</a></li>
<li><a href="/../manufacturing/">Manufacturing</a></li>
<li><a href="/../point-of-sale/">POS</a></li>
<li><a href="/../reporting/">Reporting</a></li>
<li><a href="/../order-booking-app/">Order Booker App</a></li>
<li><a href="/../splendid-invoices-app/">Splendid Invoices App</a></li>
<li><a href="/../sales-tracking-app/">Sales Tracking App</a></li>
<li><a href="/../knowledge-base/">Knowledge Base</a></li>
<li><a href="/../contact/">Contact</a></li>
</ul>
</ul>
<p>&nbsp;</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_2_tb_footer  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3 class="footer-widget-title ui--widget-title">Get in touch<br />
</h3></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_4_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p><strong>E-mail: </strong><a href="mailto:support@splendidaccounts.com">support@splendidaccounts.com</a></p></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_5_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><strong>For Sales and Support:</strong><br />
<strong>UAN:</strong> <a href="tel:+923111 006 555">+923111 006 555</a><br />
<strong>Whatsapp: </strong><img data-lazyloaded="1" decoding="async" src="/wp-content/uploads/2021/08/whatapp-icon.png" width="20" height="20" alt="" class="wp-image-144 alignnone size-full" /><noscript><img decoding="async" src="/wp-content/uploads/2021/08/whatapp-icon.png" width="20" height="20" alt="" class="wp-image-144 alignnone size-full" /></noscript><a href="https://wa.me/923111006555" target="_blank" rel="noopener">+923111 006 555</a></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_6_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p><strong>Address:<br /></strong><span>B-134 Block 2 </span><span>Gulshan-e-Iqbal,<br />Karachi, Pakistan</span></p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_3_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_7_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3 class="footer-widget-title ui--widget-title">Social Media<br />
</h3></div>
			</div><ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0_tb_footer clearfix  et_pb_bg_layout_light">
				
				
				
				
				<li
            class='et_pb_social_media_follow_network_0_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-facebook'><a
              href='https://www.facebook.com/splendidaccount'
              class='icon et_pb_with_border'
              title='Follow on Facebook'
               target="_blank"><span
                class='et_pb_social_media_follow_network_name'
                aria-hidden='true'
                >Follow</span></a></li><li
            class='et_pb_social_media_follow_network_1_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-twitter'><a
              href='https://twitter.com/SplendidAccoun1'
              class='icon et_pb_with_border'
              title='Follow on X'
               target="_blank"><span
                class='et_pb_social_media_follow_network_name'
                aria-hidden='true'
                >Follow</span></a></li><li
            class='et_pb_social_media_follow_network_2_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-linkedin'><a
              href='https://www.linkedin.com/company/splendidaccounts/'
              class='icon et_pb_with_border'
              title='Follow on LinkedIn'
               target="_blank"><span
                class='et_pb_social_media_follow_network_name'
                aria-hidden='true'
                >Follow</span></a></li><li
            class='et_pb_social_media_follow_network_3_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-instagram'><a
              href='https://www.instagram.com/splendidaccounts/'
              class='icon et_pb_with_border'
              title='Follow on Instagram'
               target="_blank"><span
                class='et_pb_social_media_follow_network_name'
                aria-hidden='true'
                >Follow</span></a></li><li
            class='et_pb_social_media_follow_network_4_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-youtube'><a
              href='https://www.youtube.com/channel/UCveZbjvCYzlChH5S91dD1UA'
              class='icon et_pb_with_border'
              title='Follow on Youtube'
               target="_blank"><span
                class='et_pb_social_media_follow_network_name'
                aria-hidden='true'
                >Follow</span></a></li>
			</ul><div class="et_pb_module et_pb_image et_pb_image_1_tb_footer">
				
				
				
				
				<a href="https://play.google.com/store/apps/details?id=com.isplendid.invoicing"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/play-store.png" alt="" title="play-store" class="wp-image-147" /><noscript><img decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/play-store.png" alt="" title="play-store" class="wp-image-147" /></noscript></span></a>
			</div><div class="et_pb_module et_pb_divider_0_tb_footer et_pb_space et_pb_divider_hidden"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_image et_pb_image_2_tb_footer">
				
				
				
				
				<a href="https://apps.apple.com/us/app/SplendidAccounts: InvoicingApp/id1488880116"><span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/apple-store.png" alt="" title="apple-store" class="wp-image-148" /><noscript><img decoding="async" width="200" height="60" src="/wp-content/uploads/2021/08/apple-store.png" alt="" title="apple-store" class="wp-image-148" /></noscript></span></a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1_tb_footer et_pb_with_background et_section_regular et_pb_section--with-menu" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1_tb_footer et_pb_row--with-menu">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_4_tb_footer  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_8_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner">Designed &amp; Developed by <a href="http://www.isplendid.com/" target="_blank" rel="noopener">iSplendid</a> | <a href="/../terms-and-conditions/">Terms and Conditions</a> | <a href="/../privacy-policy/">Privacy Policy</a> | <a href="/../user-data-deletion-request/">Data Deletion Request</a></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_9_tb_footer  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner">Copyright ©2026 Splendid Accounts</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_5_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column--with-menu">
				
				
				
				
				<div class="et_pb_module et_pb_menu et_pb_menu_0_tb_footer et_pb_bg_layout_dark  et_pb_text_align_left et_dropdown_animation_fade et_pb_menu--without-logo et_pb_menu--style-left_aligned">
					
					
					
					
					<div class="et_pb_menu_inner_container clearfix">
						
						<div class="et_pb_menu__wrap">
							<div class="et_pb_menu__menu">
								<nav class="et-menu-nav"><ul id="menu-footer" class="et-menu nav"><li id="menu-item-211" class="et_pb_menu_page_id-186 menu-item menu-item-type-post_type menu-item-object-page menu-item-211"><a href="/../sales/">Sales</a></li>
<li id="menu-item-218" class="et_pb_menu_page_id-216 menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a href="/../purchases/">Purchases</a></li>
<li id="menu-item-232" class="et_pb_menu_page_id-231 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-231 current_page_item menu-item-232"><a href="index.html" aria-current="page">Accounting</a></li>
<li id="menu-item-245" class="et_pb_menu_page_id-244 menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="/../inventory/">Inventory</a></li>
<li id="menu-item-258" class="et_pb_menu_page_id-257 menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a href="/../manufacturing/">Manufacturing</a></li>
<li id="menu-item-266" class="et_pb_menu_page_id-265 menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="/../online-pos-fbr-integration/">FBR Integration</a></li>
<li id="menu-item-283" class="et_pb_menu_page_id-282 menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a href="/../reporting/">Reporting</a></li>
<li id="menu-item-291" class="et_pb_menu_page_id-290 menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="/../order-booking-app/">Order Booking App</a></li>
<li id="menu-item-326" class="et_pb_menu_page_id-325 menu-item menu-item-type-post_type menu-item-object-page menu-item-326"><a href="/../splendid-invoices-app/">Splendid Invoices App</a></li>
</ul></nav>
							</div>
							
							
							<div class="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="mobile_menu_bar"></span>
				</div>
			</div>
						</div>
						
					</div>
				</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
`
---
<PageLayout
  title="Accounting - Splendid Accounts"
  description="Best accounting software in Pakistan. Record expenses & Journal Entries, manage Bank Accounts directly from the mobile app and webapps."
  canonical="/accounting/"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/accounting.css" />
    <link rel="stylesheet" href="/wp-content/litespeed/css/d226871e81dc9d7993027c1c2eeeceba90a8.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/231/et-core-unified-tb-132-deferred-231.min9347.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
