---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	<div class="mkb-root mkb-clearfix mkb-container"><div class="mkb-content-main mkb-content-main--page"><div class="mkb-page-header"><h1 class="mkb-page-title">Knowledge Base</h1></div><div class="mkb-page-content"><div class="kb-header" style="background-color: #ffffff;padding-top: 3em;padding-bottom: 3em;">			
			
			<div class="kb-search">

				
								<div class="kb-search__title" style="font-size: 3em;color: #333333;">
					Need some help?				</div>
								<form class="kb-search__form" action="../index.html" method="get" autocomplete="off" novalidate>

					
					<div class="kb-search__input-wrap mkb-search-theme__minerva"
					     style="border-color: #ffffff;background-color: #ffffff;width: 38em;">
						<input type="hidden" name="source" value="kb" />
																								<input class="kb-search__input"
						       name="s"
						       placeholder="Search"
						       type="text"
						       data-show-results-topic="1"
						       data-topic-label="Topic"
						       data-custom-topic-colors=""
						       data-autofocus="0"
							/>
						<span class="kb-search__results-summary">
							<i class="kb-search-request-indicator fa fa-circle-o-notch fa-spin fa-fw"></i>
							<span class="kb-summary-text-holder"></span>
						</span>
													<span class="kb-search__icon-holder">
								<i class="kb-search__icon fa fa-search"></i>
							</span>
												<a href="#" class="kb-search__clear" title="Clear search">
							<i class="kb-search__clear-icon fa fa-times-circle"></i>
						</a>

						<div class="kb-search__results kb-search__results--with-topics"></div>
					</div>

					
					
						<div class="kb-search__tip" style="color: #cccccc">
							Tip: Use arrows to navigate results, ESC to focus search input						</div>

						
									</form>

				
			</div>

		
		</div>
		<div class="mkb-home-topics mkb-columns mkb-columns-3 mkb-uuid-6a02494396c0a mkb-container"><style></style><div class="mkb-row">		<div class="kb-topic topic-id-8 kb-topic--box-view">
							<a href="/../kbtopic/accounts/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Accounts						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								23 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
			<div class="kb-topic topic-id-21 kb-topic--box-view">
							<a href="/../kbtopic/inventory/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Inventory						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								10 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
			<div class="kb-topic topic-id-27 kb-topic--box-view">
							<a href="/../kbtopic/manufacturing/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Manufacturing						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								9 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
	</div ><div class="mkb-row">		<div class="kb-topic topic-id-30 kb-topic--box-view">
							<a href="/../kbtopic/payroll-and-employees/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Payroll and Employees						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								6 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
			<div class="kb-topic topic-id-31 kb-topic--box-view">
							<a href="/../kbtopic/pos/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							POS						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								7 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
			<div class="kb-topic topic-id-36 kb-topic--box-view">
							<a href="/../kbtopic/purchase/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Purchases						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								20 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
	</div ><div class="mkb-row">		<div class="kb-topic topic-id-44 kb-topic--box-view">
							<a href="/../kbtopic/knowledge-base-sales/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Sales						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								21 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
			<div class="kb-topic topic-id-55 kb-topic--box-view">
							<a href="/../kbtopic/setup-menu/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Setup Menu						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								29 articles							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
			<div class="kb-topic topic-id-60 kb-topic--box-view">
							<a href="/../kbtopic/subscription/">
							<div class="kb-topic__inner">
					<div class="kb-topic__box-header" style="color: #4a90e2;">
												<div class="kb-topic__icon-holder" style="padding-top: 0em;padding-bottom: 0em;">
														    <i class="kb-topic__box-icon fa fa-list-alt"></i>
													</div>
												<h3 class="kb-topic__title" style="color: #4a90e2;">
							Subscription						</h3>
					</div>

					<div class="kb-topic__articles">
																			<div class="kb-topic__box-count">
								1 article							</div>
																			<div class="kb-topic__show-all">
								Show all							</div>
											</div>
				</div>
							</a>
					</div>
	</div >		</div>
		</div><!-- .mkb-entry-content --></div></div><!--.mkb-container-->`
---
<PageLayout
  title="Knowledge Base | FBR Software"
  description="Comprehensive information on Spartan Accounts with our knowledge base section. Find everything you need about our software and how it can benefit your business."
  canonical="/knowledge-base/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/knowledge-base.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/594/et-divi-dynamic-tb-132-594-late8f3a.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/594/et-divi-dynamic-tb-132-5948f3a.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/594/et-core-unified-tb-132-deferred-594.mindec2.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
