---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-238998" class="post-238998 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2"><div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<h1>User Data Deletion Request</h1>
</div>
</div>
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"></div>
</div></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"></div>
</div>
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">
<p>At Spartan Accounts, we respect your privacy and are committed to protecting your personal data. If you wish to delete your data associated with our services, please follow the steps below:</p>
<p>Send an email to privacy@spartanaccounts.com with the subject line:<span> </span><strong>“Data Deletion Request.”</strong><br />Include the following details in your email:</p>
<ul>
<li>Your full name.</li>
<li>The email address associated with your account.</li>
<li>A brief description of your request.</li>
</ul>
<p><strong>Once we receive your request, we will:</strong></p>
<p>Verify your identity to ensure the security of your data.<br />Process your request and delete your data from our systems within 30 days.<br />Notify you once the deletion process is complete.</p>
<p>For any questions or concerns, feel free to contact us at suport@fbrsoftware.com</p>
</div>
</div></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="User Data Deletion Request | FBR Software"
  description=""
  canonical="/user-data-deletion-request/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/user-data-deletion-request.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/238998/et-divi-dynamic-tb-132-238998-late53c3.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/238998/et-divi-dynamic-tb-132-23899853c3.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/238998/et-core-unified-tb-132-deferred-238998.min53c3.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
