---
import PageLayout from '../../layouts/PageLayout.astro'
import { isVideoEmbedsEnabled } from '../../lib/videoEmbedHtml'

const showVideoEmbeds = isVideoEmbedsEnabled()

const bodyRaw = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-425" class="post-425 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h1 style="text-align: center;"></h1>
<div class="row clearfix content-line">
<h1 class="col-xs-9 column content-util" style="text-align: center;">Video Tutorials for Training &#8211; Spartan Accounts</h1>
</div></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_0">
				
				
				
				
				<div class="et_pb_code_inner">			<div 
			class="yotu-playlist yotuwp yotu-limit-min   yotu-thumb-169  yotu-template-grid" 
			data-page="1"
			id="yotuwp-6a021e59e3bd1"
			data-yotu="6a021e5a28cb8"
			data-total="25"
			data-settings="eyJ0eXBlIjoicGxheWxpc3QiLCJpZCI6IlVVdmVaYmp2Q1l6bENoSDVTOTFkRDFVQSIsInBhZ2luYXRpb24iOiJvZmYiLCJwYWdpdHlwZSI6ImxvYWRtb3JlIiwiY29sdW1uIjoiMiIsInBlcl9wYWdlIjoiMjAwIiwidGVtcGxhdGUiOiJncmlkIiwidGl0bGUiOiJvbiIsImRlc2NyaXB0aW9uIjoib2ZmIiwidGh1bWJyYXRpbyI6IjE2OSIsIm1ldGEiOiJvZmYiLCJtZXRhX2RhdGEiOiJvZmYiLCJtZXRhX3Bvc2l0aW9uIjoib2ZmIiwiZGF0ZV9mb3JtYXQiOiJvZmYiLCJtZXRhX2FsaWduIjoib2ZmIiwic3Vic2NyaWJlIjoib2ZmIiwiZHVyYXRpb24iOiJvZmYiLCJtZXRhX2ljb24iOiJvZmYiLCJuZXh0dGV4dCI6IiIsInByZXZ0ZXh0IjoiIiwibG9hZG1vcmV0ZXh0IjoiIiwicGxheWVyIjp7Im1vZGUiOiJsYXJnZSIsIndpZHRoIjoiMTAyNCIsInNjcm9sbGluZyI6IjEwMCIsImF1dG9wbGF5IjowLCJjb250cm9scyI6MSwibW9kZXN0YnJhbmRpbmciOjEsImxvb3AiOjAsImF1dG9uZXh0IjowLCJzaG93aW5mbyI6MSwicmVsIjowLCJwbGF5aW5nIjoxLCJwbGF5aW5nX2Rlc2NyaXB0aW9uIjowLCJ0aHVtYm5haWxzIjowLCJjY19sb2FkX3BvbGljeSI6IjEiLCJjY19sYW5nX3ByZWYiOiIxIiwiaGwiOiIiLCJpdl9sb2FkX3BvbGljeSI6IjEifSwibGFzdF90YWIiOiJzZXR0aW5ncyIsInVzZV9hc19tb2RhbCI6Im9mZiIsIm1vZGFsX2lkIjoib2ZmIiwibGFzdF91cGRhdGUiOiIxNjgzMDA2MzcyIiwic3R5bGluZyI6eyJwYWdlcl9sYXlvdXQiOiJkZWZhdWx0IiwiYnV0dG9uIjoiMSIsImJ1dHRvbl9jb2xvciI6IiIsImJ1dHRvbl9iZ19jb2xvciI6IiIsImJ1dHRvbl9jb2xvcl9ob3ZlciI6IiIsImJ1dHRvbl9iZ19jb2xvcl9ob3ZlciI6IiIsInZpZGVvX3N0eWxlIjoiIiwicGxheWljb25fY29sb3IiOiIiLCJob3Zlcl9pY29uIjoiIiwiZ2FsbGVyeV9iZyI6IiJ9LCJlZmZlY3RzIjp7InZpZGVvX2JveCI6IiIsImZsaXBfZWZmZWN0IjoiIn0sImdhbGxlcnlfaWQiOiI2YTAyMWU1OWUzYmQxIiwibmV4dCI6IkVBQWFIbEJVT2tOQ1oybEZSRUV3VVZWTk1VNXFaRVpSTUUweFQxUktSazVGVFEiLCJwcmV2IjoiIn0="
			data-player="large"
			data-showdesc="off" >
				<div>
										<div class="yotu-wrapper-player" style="width:1024px">
													<div class="yotu-playing">
								How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide							</div>
												<div class="yotu-player">
							<div class="yotu-video-placeholder" id="yotu-player-6a021e5a28cb8"></div>
						</div>
						<div class="yotu-playing-status"></div>
											</div>

					<div class="yotu-videos yotu-mode-grid yotu-column-2 yotu-player-mode-large">
	<ul>
					<li class=" yotu-first">
								<a href="#8J_NVI-fq_Y" class="yotu-video" data-videoid="8J_NVI-fq_Y" data-title="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide" title="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/8J_NVI-fq_Y/sddefault.jpg" alt="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/8J_NVI-fq_Y/sddefault.jpg" alt="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#DGVvjzferqw" class="yotu-video" data-videoid="DGVvjzferqw" data-title="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide" title="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/DGVvjzferqw/sddefault.jpg" alt="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/DGVvjzferqw/sddefault.jpg" alt="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#6CnvjLOMV9M" class="yotu-video" data-videoid="6CnvjLOMV9M" data-title="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide" title="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/6CnvjLOMV9M/sddefault.jpg" alt="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/6CnvjLOMV9M/sddefault.jpg" alt="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#1VXj1jFVB_8" class="yotu-video" data-videoid="1VXj1jFVB_8" data-title="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained" title="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/1VXj1jFVB_8/sddefault.jpg" alt="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/1VXj1jFVB_8/sddefault.jpg" alt="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#ukrXcEc-uno" class="yotu-video" data-videoid="ukrXcEc-uno" data-title="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide" title="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/ukrXcEc-uno/sddefault.jpg" alt="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/ukrXcEc-uno/sddefault.jpg" alt="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#j2nzL2itLnY" class="yotu-video" data-videoid="j2nzL2itLnY" data-title="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide" title="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/j2nzL2itLnY/sddefault.jpg" alt="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/j2nzL2itLnY/sddefault.jpg" alt="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#B_ubZ-1Tgbs" class="yotu-video" data-videoid="B_ubZ-1Tgbs" data-title="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)" title="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/B_ubZ-1Tgbs/sddefault.jpg" alt="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/B_ubZ-1Tgbs/sddefault.jpg" alt="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#DTcYO7UwKR8" class="yotu-video" data-videoid="DTcYO7UwKR8" data-title="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)" title="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/DTcYO7UwKR8/sddefault.jpg" alt="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/DTcYO7UwKR8/sddefault.jpg" alt="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Add Vendors in Spartan Accounts (Step-by-Step Guide)</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#ywn7cItQVgs" class="yotu-video" data-videoid="ywn7cItQVgs" data-title="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)" title="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/ywn7cItQVgs/sddefault.jpg" alt="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/ywn7cItQVgs/sddefault.jpg" alt="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#r8fZlJF9YfA" class="yotu-video" data-videoid="r8fZlJF9YfA" data-title="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide" title="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/r8fZlJF9YfA/sddefault.jpg" alt="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/r8fZlJF9YfA/sddefault.jpg" alt="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#VeGUQbgRl1Q" class="yotu-video" data-videoid="VeGUQbgRl1Q" data-title="Lens Distributor from Lahore Shares Experience with Spartan Accounts" title="Lens Distributor from Lahore Shares Experience with Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/VeGUQbgRl1Q/sddefault.jpg" alt="Lens Distributor from Lahore Shares Experience with Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/VeGUQbgRl1Q/sddefault.jpg" alt="Lens Distributor from Lahore Shares Experience with Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Lens Distributor from Lahore Shares Experience with Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#XcY6f3OVlLk" class="yotu-video" data-videoid="XcY6f3OVlLk" data-title="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App" title="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/XcY6f3OVlLk/sddefault.jpg" alt="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/XcY6f3OVlLk/sddefault.jpg" alt="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#GV6frU-5Rtw" class="yotu-video" data-videoid="GV6frU-5Rtw" data-title="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts" title="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/GV6frU-5Rtw/sddefault.jpg" alt="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/GV6frU-5Rtw/sddefault.jpg" alt="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#0Q9WsD_Euck" class="yotu-video" data-videoid="0Q9WsD_Euck" data-title="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts" title="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/0Q9WsD_Euck/sddefault.jpg" alt="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/0Q9WsD_Euck/sddefault.jpg" alt="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#CtNpe39PdAU" class="yotu-video" data-videoid="CtNpe39PdAU" data-title="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio" title="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/CtNpe39PdAU/sddefault.jpg" alt="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/CtNpe39PdAU/sddefault.jpg" alt="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#R2wVackvgZQ" class="yotu-video" data-videoid="R2wVackvgZQ" data-title="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo" title="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/R2wVackvgZQ/sddefault.jpg" alt="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/R2wVackvgZQ/sddefault.jpg" alt="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#FdJHcbbEJzI" class="yotu-video" data-videoid="FdJHcbbEJzI" data-title="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL" title="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/FdJHcbbEJzI/sddefault.jpg" alt="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/FdJHcbbEJzI/sddefault.jpg" alt="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#rCdF_Lb_bSs" class="yotu-video" data-videoid="rCdF_Lb_bSs" data-title="Track your sales team’s performance with Target and Commission features – Spartan Accounts" title="Track your sales team’s performance with Target and Commission features – Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/rCdF_Lb_bSs/sddefault.jpg" alt="Track your sales team’s performance with Target and Commission features – Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/rCdF_Lb_bSs/sddefault.jpg" alt="Track your sales team’s performance with Target and Commission features – Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Track your sales team’s performance with Target and Commission features – Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#GVdkN073IYY" class="yotu-video" data-videoid="GVdkN073IYY" data-title="What\&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts" title="What&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/GVdkN073IYY/sddefault.jpg" alt="What&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/GVdkN073IYY/sddefault.jpg" alt="What&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">What's New (v2.3.10) New Features and Updates | Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#65CTQ3DnQzM" class="yotu-video" data-videoid="65CTQ3DnQzM" data-title="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts" title="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/65CTQ3DnQzM/sddefault.jpg" alt="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/65CTQ3DnQzM/sddefault.jpg" alt="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#_iWPM7Xb6UA" class="yotu-video" data-videoid="_iWPM7Xb6UA" data-title="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan" title="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/_iWPM7Xb6UA/sddefault.jpg" alt="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/_iWPM7Xb6UA/sddefault.jpg" alt="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#S3GtMqfY6iQ" class="yotu-video" data-videoid="S3GtMqfY6iQ" data-title="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!" title="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/S3GtMqfY6iQ/sddefault.jpg" alt="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/S3GtMqfY6iQ/sddefault.jpg" alt="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">ShipKarDo Tutorial | Master E-commerce Automation in Minutes!</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#7cIpXCg8eok" class="yotu-video" data-videoid="7cIpXCg8eok" data-title="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!" title="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/7cIpXCg8eok/sddefault.jpg" alt="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/7cIpXCg8eok/sddefault.jpg" alt="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!</h3>
																			</a>
							</li>
				
						<li class=" yotu-last">
								<a href="#t2MReWC1sy4" class="yotu-video" data-videoid="t2MReWC1sy4" data-title="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly" title="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/t2MReWC1sy4/sddefault.jpg" alt="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/t2MReWC1sy4/sddefault.jpg" alt="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly</h3>
																			</a>
							</li>
				
				</ul>
</div><div class="yotu-pagination" style="display:none" aria-hidden="true">
	<a href="#" class="yotu-pagination-more yotu-button-prs yotu-button-prs-1" data-page="more">Load more</a>
</div>
				</div>
			</div>
			</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;"><span style="color: #ffffff;"><a href="/accounting-software-pricing-plan/" style="color: #ffffff;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</a></span></p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`

function applyVideoPlaylistEmbedEnv(html: string): string {
  if (showVideoEmbeds) return html
  let out = html.replace(
    /<a href="#([A-Za-z0-9_-]+)" class="yotu-video"/g,
    '<a href="https://www.youtube.com/watch?v=$1" target="_blank" rel="noopener noreferrer" class="yotu-video"'
  )
  out = out.replace(
    /<div class="yotu-video-placeholder" id="yotu-player-6a021e5a28cb8"><\/div>/,
    '<div class="et_pb_video_box et-video-placeholder-wrap" style="aspect-ratio:1024/576;max-width:100%;width:min(1024px,100%)"><div class="et-video-placeholder-inner"><p class="et-video-placeholder-title">On-site player disabled</p><p class="et-video-placeholder-sub">Set PUBLIC_SHOW_VIDEO_EMBEDS=true in .env for embedded playback. Thumbnails below open each tutorial on YouTube.</p></div></div>'
  )
  return out
}

const body = applyVideoPlaylistEmbedEnv(bodyRaw)
---
<PageLayout
  title="Video Tutorials for Training - Spartan Accounts"
  description="In tutorials we explain complex accounting concepts in simple terms, making it easy for you to understand how to use the software effectively."
  canonical="/video/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
  includeEtCache11Dynamic={false}
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/video.css" />
    <link rel="stylesheet" href="/wp-content/litespeed/css/92e0442fd32a17d6d9d181e5915298b63abb.css" media="all" />
    <link rel="stylesheet" href="/wp-content/litespeed/css/22373d48f08b0dde12685d55d54799f42963.css" media="all" />
    <link rel="stylesheet" href="/wp-content/litespeed/css/287dd6280f74621f81c5b33768a26a556632.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/425/et-divi-dynamic-tb-132-425-late52c3.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/425/et-divi-dynamic-tb-132-42552c3.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/425/et-core-unified-tb-132-deferred-425.min5f82.css" media="all" />
  </Fragment>
  <Fragment slot="scripts">
    {showVideoEmbeds && (
      <script is:inline src="/wp-content/litespeed/js/d8f2693d793bfe42c2023545d456118cb0bf.js" />
    )}
    <script is:inline>
      document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('img.yotu-video-thumb[data-src]').forEach(function (img) {
          var u = img.getAttribute('data-src')
          if (u) img.setAttribute('src', u)
        })
      })
    </script>
  </Fragment>
  <div set:html={body} />
</PageLayout>
