---
import PageLayout from '../../layouts/PageLayout.astro'
const body = `<div id="et-main-area">
	
<div id="main-content">


			
				<article id="post-425" class="post-425 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters2">
		<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h1 style="text-align: center;"></h1>
<div class="row clearfix content-line">
<h1 class="col-xs-9 column content-util" style="text-align: center;">Video Tutorials for Training &#8211; Spartan Accounts</h1>
</div></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_0">
				
				
				
				
				<div class="et_pb_code_inner">			<div 
			class="yotu-playlist yotuwp yotu-limit-min   yotu-thumb-169  yotu-template-grid" 
			data-page="1"
			id="yotuwp-6a021e59e3bd1"
			data-yotu="6a021e5a28cb8"
			data-total="11"
			data-settings="eyJ0eXBlIjoicGxheWxpc3QiLCJpZCI6IlVVdmVaYmp2Q1l6bENoSDVTOTFkRDFVQSIsInBhZ2luYXRpb24iOiJvbiIsInBhZ2l0eXBlIjoibG9hZG1vcmUiLCJjb2x1bW4iOiIyIiwicGVyX3BhZ2UiOiIyNCIsInRlbXBsYXRlIjoiZ3JpZCIsInRpdGxlIjoib24iLCJkZXNjcmlwdGlvbiI6Im9mZiIsInRodW1icmF0aW8iOiIxNjkiLCJtZXRhIjoib2ZmIiwibWV0YV9kYXRhIjoib2ZmIiwibWV0YV9wb3NpdGlvbiI6Im9mZiIsImRhdGVfZm9ybWF0Ijoib2ZmIiwibWV0YV9hbGlnbiI6Im9mZiIsInN1YnNjcmliZSI6Im9mZiIsImR1cmF0aW9uIjoib2ZmIiwibWV0YV9pY29uIjoib2ZmIiwibmV4dHRleHQiOiIiLCJwcmV2dGV4dCI6IiIsImxvYWRtb3JldGV4dCI6IiIsInBsYXllciI6eyJtb2RlIjoibGFyZ2UiLCJ3aWR0aCI6IjEwMjQiLCJzY3JvbGxpbmciOiIxMDAiLCJhdXRvcGxheSI6MCwiY29udHJvbHMiOjEsIm1vZGVzdGJyYW5kaW5nIjoxLCJsb29wIjowLCJhdXRvbmV4dCI6MCwic2hvd2luZm8iOjEsInJlbCI6MCwicGxheWluZyI6MSwicGxheWluZ19kZXNjcmlwdGlvbiI6MCwidGh1bWJuYWlscyI6MCwiY2NfbG9hZF9wb2xpY3kiOiIxIiwiY2NfbGFuZ19wcmVmIjoiMSIsImhsIjoiIiwiaXZfbG9hZF9wb2xpY3kiOiIxIn0sImxhc3RfdGFiIjoic2V0dGluZ3MiLCJ1c2VfYXNfbW9kYWwiOiJvZmYiLCJtb2RhbF9pZCI6Im9mZiIsImxhc3RfdXBkYXRlIjoiMTY4MzAwNjM3MiIsInN0eWxpbmciOnsicGFnZXJfbGF5b3V0IjoiZGVmYXVsdCIsImJ1dHRvbiI6IjEiLCJidXR0b25fY29sb3IiOiIiLCJidXR0b25fYmdfY29sb3IiOiIiLCJidXR0b25fY29sb3JfaG92ZXIiOiIiLCJidXR0b25fYmdfY29sb3JfaG92ZXIiOiIiLCJ2aWRlb19zdHlsZSI6IiIsInBsYXlpY29uX2NvbG9yIjoiIiwiaG92ZXJfaWNvbiI6IiIsImdhbGxlcnlfYmciOiIifSwiZWZmZWN0cyI6eyJ2aWRlb19ib3giOiIiLCJmbGlwX2VmZmVjdCI6IiJ9LCJnYWxsZXJ5X2lkIjoiNmEwMjFlNTllM2JkMSIsIm5leHQiOiJFQUFhSGxCVU9rTkNaMmxGUkVFd1VWVk5NVTVxWkVaUk1FMHhUMVJLUms1RlRRIiwicHJldiI6IiJ9"
			data-player="large"
			data-showdesc="off" >
				<div>
										<div class="yotu-wrapper-player" style="width:1024px">
													<div class="yotu-playing">
								How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide							</div>
												<div class="yotu-player">
							<div class="yotu-video-placeholder" id="yotu-player-6a021e5a28cb8"></div>
						</div>
						<div class="yotu-playing-status"></div>
											</div>

					<div class="yotu-videos yotu-mode-grid yotu-column-2 yotu-player-mode-large">
	<ul>
					<li class=" yotu-first">
								<a href="#8J_NVI-fq_Y" class="yotu-video" data-videoid="8J_NVI-fq_Y" data-title="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide" title="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/8J_NVI-fq_Y/sddefault.jpg" alt="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/8J_NVI-fq_Y/sddefault.jpg" alt="How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create &amp; Assign Product Brands in Spartan Accounts | Complete Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#DGVvjzferqw" class="yotu-video" data-videoid="DGVvjzferqw" data-title="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide" title="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/DGVvjzferqw/sddefault.jpg" alt="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/DGVvjzferqw/sddefault.jpg" alt="How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Purchase Order in Spartan Accounts | Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#6CnvjLOMV9M" class="yotu-video" data-videoid="6CnvjLOMV9M" data-title="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide" title="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/6CnvjLOMV9M/sddefault.jpg" alt="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/6CnvjLOMV9M/sddefault.jpg" alt="How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Purchase Invoice in Spartan Accounts | Complete Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#1VXj1jFVB_8" class="yotu-video" data-videoid="1VXj1jFVB_8" data-title="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained" title="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/1VXj1jFVB_8/sddefault.jpg" alt="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/1VXj1jFVB_8/sddefault.jpg" alt="How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Add &amp; Invite Users in Spartan Accounts | Roles &amp; Permissions Explained</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#ukrXcEc-uno" class="yotu-video" data-videoid="ukrXcEc-uno" data-title="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide" title="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/ukrXcEc-uno/sddefault.jpg" alt="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/ukrXcEc-uno/sddefault.jpg" alt="How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Other Contacts in Spartan Accounts | Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#j2nzL2itLnY" class="yotu-video" data-videoid="j2nzL2itLnY" data-title="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide" title="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/j2nzL2itLnY/sddefault.jpg" alt="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/j2nzL2itLnY/sddefault.jpg" alt="How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Record Vendor Payments in Spartan Accounts | Complete Step-by-Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#B_ubZ-1Tgbs" class="yotu-video" data-videoid="B_ubZ-1Tgbs" data-title="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)" title="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/B_ubZ-1Tgbs/sddefault.jpg" alt="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/B_ubZ-1Tgbs/sddefault.jpg" alt="Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Spartan Accounts App | Order Booker &amp; Tracking Features Explained (Complete Guide)</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#DTcYO7UwKR8" class="yotu-video" data-videoid="DTcYO7UwKR8" data-title="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)" title="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/DTcYO7UwKR8/sddefault.jpg" alt="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/DTcYO7UwKR8/sddefault.jpg" alt="How to Add Vendors in Spartan Accounts (Step-by-Step Guide)"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Add Vendors in Spartan Accounts (Step-by-Step Guide)</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#ywn7cItQVgs" class="yotu-video" data-videoid="ywn7cItQVgs" data-title="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)" title="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/ywn7cItQVgs/sddefault.jpg" alt="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/ywn7cItQVgs/sddefault.jpg" alt="How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Manage Import Business &amp; Track Expenses in Spartan Accounts (Step-by-Step Guide)</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#r8fZlJF9YfA" class="yotu-video" data-videoid="r8fZlJF9YfA" data-title="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide" title="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/r8fZlJF9YfA/sddefault.jpg" alt="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/r8fZlJF9YfA/sddefault.jpg" alt="How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">How to Create Your Account &amp; Company in Spartan Accounts – Step by Step Guide</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#VeGUQbgRl1Q" class="yotu-video" data-videoid="VeGUQbgRl1Q" data-title="Lens Distributor from Lahore Shares Experience with Spartan Accounts" title="Lens Distributor from Lahore Shares Experience with Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/VeGUQbgRl1Q/sddefault.jpg" alt="Lens Distributor from Lahore Shares Experience with Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/VeGUQbgRl1Q/sddefault.jpg" alt="Lens Distributor from Lahore Shares Experience with Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Lens Distributor from Lahore Shares Experience with Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#XcY6f3OVlLk" class="yotu-video" data-videoid="XcY6f3OVlLk" data-title="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App" title="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/XcY6f3OVlLk/sddefault.jpg" alt="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/XcY6f3OVlLk/sddefault.jpg" alt="Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Faisalabad’s Leading Distributor Shares his Experience with Spartan Accounts ERP &amp; B2B App</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#GV6frU-5Rtw" class="yotu-video" data-videoid="GV6frU-5Rtw" data-title="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts" title="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/GV6frU-5Rtw/sddefault.jpg" alt="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/GV6frU-5Rtw/sddefault.jpg" alt="Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Lahore’s Top Sanitary &amp; Kitchen Ware Brand Using Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#0Q9WsD_Euck" class="yotu-video" data-videoid="0Q9WsD_Euck" data-title="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts" title="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/0Q9WsD_Euck/sddefault.jpg" alt="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/0Q9WsD_Euck/sddefault.jpg" alt="Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Client Success Story: Mining &amp; Pet Products Company Using Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#CtNpe39PdAU" class="yotu-video" data-videoid="CtNpe39PdAU" data-title="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio" title="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/CtNpe39PdAU/sddefault.jpg" alt="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/CtNpe39PdAU/sddefault.jpg" alt="Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Pakistan’s Top Garment Store Shares Experience with Spartan Accounts | Dawood Studio</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#R2wVackvgZQ" class="yotu-video" data-videoid="R2wVackvgZQ" data-title="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo" title="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/R2wVackvgZQ/sddefault.jpg" alt="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/R2wVackvgZQ/sddefault.jpg" alt="𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">𝐈𝐓𝐂𝐍 𝐀𝐒𝐈𝐀 𝐋𝐚𝐡𝐨𝐫𝐞 𝟐𝟎𝟐𝟔 — Spartan Accounts and Shipkardo</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#FdJHcbbEJzI" class="yotu-video" data-videoid="FdJHcbbEJzI" data-title="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL" title="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/FdJHcbbEJzI/sddefault.jpg" alt="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/FdJHcbbEJzI/sddefault.jpg" alt="500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">500+ successful FBR Digital Invoice integrations by Spartan Accounts   #einvoice #fbr #IRIS #PRAL</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#rCdF_Lb_bSs" class="yotu-video" data-videoid="rCdF_Lb_bSs" data-title="Track your sales team’s performance with Target and Commission features – Spartan Accounts" title="Track your sales team’s performance with Target and Commission features – Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/rCdF_Lb_bSs/sddefault.jpg" alt="Track your sales team’s performance with Target and Commission features – Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/rCdF_Lb_bSs/sddefault.jpg" alt="Track your sales team’s performance with Target and Commission features – Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Track your sales team’s performance with Target and Commission features – Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#GVdkN073IYY" class="yotu-video" data-videoid="GVdkN073IYY" data-title="What\&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts" title="What&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/GVdkN073IYY/sddefault.jpg" alt="What&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/GVdkN073IYY/sddefault.jpg" alt="What&#039;s New (v2.3.10) New Features and Updates | Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">What's New (v2.3.10) New Features and Updates | Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#65CTQ3DnQzM" class="yotu-video" data-videoid="65CTQ3DnQzM" data-title="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts" title="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/65CTQ3DnQzM/sddefault.jpg" alt="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/65CTQ3DnQzM/sddefault.jpg" alt="FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">FBR Digital Invoicing 2025 - SRO 709 - IRIS and PRAL Integration with Spartan Accounts</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#_iWPM7Xb6UA" class="yotu-video" data-videoid="_iWPM7Xb6UA" data-title="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan" title="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/_iWPM7Xb6UA/sddefault.jpg" alt="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/_iWPM7Xb6UA/sddefault.jpg" alt="Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">Spartan Accounts One Window Solution | Accounting &amp; Inventory Software in Pakistan</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#S3GtMqfY6iQ" class="yotu-video" data-videoid="S3GtMqfY6iQ" data-title="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!" title="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/S3GtMqfY6iQ/sddefault.jpg" alt="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/S3GtMqfY6iQ/sddefault.jpg" alt="ShipKarDo Tutorial | Master E-commerce Automation in Minutes!"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">ShipKarDo Tutorial | Master E-commerce Automation in Minutes!</h3>
																			</a>
							</li>
				
						<li class="">
								<a href="#7cIpXCg8eok" class="yotu-video" data-videoid="7cIpXCg8eok" data-title="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!" title="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/7cIpXCg8eok/sddefault.jpg" alt="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/7cIpXCg8eok/sddefault.jpg" alt="📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">📊 Track and Boost Your Sales Team’s Performance with Spartan Accounts Order Booker App!</h3>
																			</a>
							</li>
				
						<li class=" yotu-last">
								<a href="#t2MReWC1sy4" class="yotu-video" data-videoid="t2MReWC1sy4" data-title="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly" title="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly">
					<div class="yotu-video-thumb-wrp">
						<div>
														<img data-lazyloaded="1" decoding="async" class="yotu-video-thumb" data-src="https://i.ytimg.com/vi/t2MReWC1sy4/sddefault.jpg" alt="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly"><noscript><img decoding="async" class="yotu-video-thumb" src="https://i.ytimg.com/vi/t2MReWC1sy4/sddefault.jpg" alt="100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly"></noscript>	
													</div>
					</div>
											<h3 class="yotu-video-title">100+ orders a day? No problem! With ShipKarDo, manage your e-commerce workflow effortlessly</h3>
																			</a>
							</li>
				
				</ul>
</div><div class="yotu-pagination">
	<a href="#" class="yotu-pagination-more yotu-button-prs yotu-button-prs-1" data-page="more">Load more</a>
</div>
				</div>
			</div>
			</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img data-lazyloaded="1" decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /><noscript><img decoding="async" width="97" height="97" src="/wp-content/uploads/2021/08/rocket.png" alt="" title="rocket" class="wp-image-207" /></noscript></span>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_blurb_content">
					
					<div class="et_pb_blurb_container">
						<h2 class="et_pb_module_header"><span>Redefine The Way You Do Your Accounting</span></h2>
						<div class="et_pb_blurb_description"><p style="text-align: center;"><span style="color: #ffffff;"><a href="/../accounting-software-pricing-plan/" style="color: #ffffff;">The Interactive System Lets You Handle Sales &amp; Expenses Like A PRO!</a></span></p></div>
					</div>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="/../free-trial/">Get Started Now</a>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>`
---
<PageLayout
  title="Video Tutorials for Training - Spartan Accounts"
  description="In tutorials we explain complex accounting concepts in simple terms, making it easy for you to understand how to use the software effectively."
  canonical="/video/"
  ogImage="/wp-content/uploads/2022/01/link-image.jpg"
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/css/pages/video.css" />
    <link rel="stylesheet" href="/wp-content/et-cache/425/et-divi-dynamic-tb-132-425-late52c3.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/425/et-divi-dynamic-tb-132-42552c3.css" media="all" />
    <link rel="stylesheet" href="/wp-content/et-cache/425/et-core-unified-tb-132-deferred-425.min5f82.css" media="all" />
  </Fragment>
  <div set:html={body} />
</PageLayout>
